@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(120deg,#020617,#0f172a);
  color: white;
}

/* NAV */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  background: rgba(2,6,23,.6);
  z-index: 100;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.logo span {
  color: #38bdf8;
}

/* HERO */

.hero {
  min-height: 100vh;
  padding: 160px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3.8rem;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 40px;
  border-radius: 40px;
  background: linear-gradient(to right,#38bdf8,#22d3ee);
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  background: rgba(255,255,255,.05);
  padding: 80px;
  text-align: center;
}

.stat h2 {
  font-size: 3rem;
  color: #38bdf8;
}

/* SERVICES */

.services, .projects, .contact {
  padding: 100px 60px;
  text-align: center;
}

.service-grid, .project-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 30px;
}

.card, .project-card {
  padding: 40px;
  border-radius: 25px;
  background: rgba(255,255,255,.06);
  backdrop-filter: blur(10px);
  transition: .3s;
}

.card:hover, .project-card:hover {
  transform: translateY(-10px);
}

/* CTA */

.cta {
  padding: 100px;
  background: linear-gradient(90deg,#38bdf8,#22d3ee);
  color: black;
  text-align: center;
}

/* CONTACT */

.contact-links a {
  display: inline-block;
  margin: 15px;
  padding: 14px 30px;
  background: white;
  color: black;
  border-radius: 40px;
  text-decoration: none;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  background: black;
}

/* MOBILE */

@media(max-width:768px){
  .navbar {
    padding: 20px 30px;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
}
